<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue JS start</title>

    <style>
      .has-error {
        color: red;
        display: block !important;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div v-for="name of names">
        <p>{{ name.family }}</p>
        <p>{{ name.email }}</p>

        <button @click="DeleteItems(name.id)">Delete</button>
      </div>

      <input type="text" v-model="id" />
      <input type="text" v-model="family" />
      <input type="text" v-model="email" />
      <button @click="addItemNew()">Created</button>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const App = {
        data() {
          return {
            names: [
              { id: "1", family: "davood", email: "davoodkhany@gmail.com" },
              { id: "2", family: "rezayee", email: "reza@gmail.com" },
            ],
            id: "",
            family: "",
            email: "",
          };
        },

        methods: {
          DeleteItems(id) {
            this.names = this.names.filter((user) => user.id != id);
          },
          addItemNew(){
            this.names.push({
              id: this.id,
              family: this.family,
              email: this.email,
            })
          }
        },

      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
