<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue JS start</title>

    <style>
      .has-error{
        color: red;
        display:block !important;
        
      }
    </style>
  </head>

  <body>
    <div id="app">
      <form @submit.prevent="login()">
        <label for="email">Email</label>
        <input type="text" v-model="email" />
       <p style="display: none;" :class="{'has-error' : hasEmailError[0]}" v-text="hasEmailError[1]"></p>
        <br />
        <br />

        <label for="Password">Password</label>
        <input type="password" v-model="password" />
        <p style="display: none;" :class="{'has-error' : hasPassword}">طول پسورد حداقل باید 8 کاراکتر باشد</p>


      </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const App = {
        data() {
          return {
            email: "davood@gmail.com",
            password: "davood12",
            emailIsValid: true,
            passwordIsValid:true,
          };
        },

        computed:{

          hasEmailError(){
            let email = this.email;
            if(this.emailIsValids(email))
            return [false, null]
            else 
            return [true, 'فرمت وارد شده صحیح نمی باشد']
          },


          hasPassword(){
            if (this.password.length <= 7 ){
              return true;
            }
          }
          
        },
        
        methods: {


          login(){
            console.log('Log');
          },

          emailIsValids (email) {
             return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
          } 
        


        },

        watch:{

        }
      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
